<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHEWROTE</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block extra_head %}{% endblock extra_head %}

    <style>
        .nav-item > .nav-link, .navbar-brand {
            color: var(--bs-white);
        }
        .nav-item > .nav-link.active {
            padding-bottom: 2px;
            border-bottom: 0.15rem solid var(--bs-white);
            color: var(--bs-white);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md mb-4 border" style="background-color: #009688">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'shewrote:index' %}">
                SHEWROTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if 'index' == request.resolver_match.url_name %}active{% endif %}" href="{% url 'shewrote:index' %}">
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'person' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'shewrote:persons' %}">
                            Persons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'work' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'shewrote:works' %}">
                            Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'reception' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'shewrote:receptions' %}">
                            Receptions</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" style="color: white">
                {% if user.is_authenticated %}
                    {{ user }} |&nbsp;<a class="nav-link" href="{% url 'logout' %}" >Log out</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container">
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
       </div>
    </main>

</body>
</html>