<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHEWROTE</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <nav class="navbar navbar-expand-md mb-4 border" style="background-color: #009688">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'shewrote:index' %}" style="color: white">
                SHEWROTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shewrote:persons' %}" style="color: white">
                            Persons</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
       </div>
    </main>

</body>
</html>