{% extends 'shewrote/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block extra_head %}
    <link href="{% static 'admin/css/vendor/select2/select2.css' %}" media="screen" rel="stylesheet">
    <script></script>
    {{ search_form.media.css }}
    <script></script>

    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider-custom.css' %}">
    <script src="{% static 'js/nouislider.min.js' %}"></script>
{% endblock extra_head %}

{% block page_header %}
    <div class="col hstack gap-3 pb-2 mb-2 border-bottom">
        <h1>Persons</h1>
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-sm mt-1 mb-1 ms-auto text-nowrap" href="{% url 'shewrote:new_person' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                    Add person
                </a>
            {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
<div class="col-md-4">
    <div>
        <form action="" method="get">
            <button type="submit" class="btn btn-secondary btn-sm my-1 text-nowrap w-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
                Apply filters
            </button>
            <div class="py-2 vstack gap-1">
                <strong>Name</strong>
                <input type="text" id="short_name" name="short_name" value="{{ short_name }}"
                       size=30 placeholder="Enter (part of) a name" class="form-control form-control-sm"/>
            </div>

            <div class="py-2 vstack gap-1 border-top">
                <strong>Gender</strong>
                {{ search_form.sex }}
            </div>

            <div class="py-2 vstack gap-2 border-top">
                <div>
                    <input type="checkbox" name="normalised_date_of_birth_checkbox"
                           id="normalised_date_of_birth_checkbox" class="form-check-input ms-0 position-relative"
                           {% if birth_year_slider_info.is_checked %}checked{% endif %}
                    />
                    <strong>Year of birth</strong>
                </div>
                {% include 'shewrote/components/year_range_slider.html' with prefix='birth' slider_info=birth_year_slider_info %}
            </div>

            <div class="py-2 vstack gap-2">
                <div>
                    <input type="checkbox" name="normalised_date_of_death_checkbox"
                           id="normalised_date_of_death_checkbox" class="form-check-input ms-0 position-relative"
                           {% if death_year_slider_info.is_checked %}checked{% endif %}
                    />
                    <strong>Year of death</strong>
                </div>
                {% include 'shewrote/components/year_range_slider.html' with prefix='death' slider_info=death_year_slider_info %}
            </div>

            <div class="py-2 vstack gap-1 border-top">
                <strong>Place of birth</strong>
                {{ search_form.place_of_birth }}
            </div>

            <div class="py-2 vstack gap-1">
                <strong>Place of death</strong>
                {{ search_form.place_of_death }}
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ search_form.media.js }}
        <script>
            (function() {
                getSliderElements = function(prefix) {
                    return [
                        document.getElementById(prefix + "_year_slider"),
                        document.getElementById(prefix + "_year_start"),
                        document.getElementById(prefix + "_year_end")
                    ];
                };

                enableSlider = function(prefix) {
                    const [slider, start_input, end_input] = getSliderElements(prefix);
                    slider.noUiSlider.enable();
                    start_input.disabled = false;
                    end_input.disabled = false;
                };

                disableSlider = function(prefix) {
                    const [slider, start_input, end_input] = getSliderElements(prefix);
                    slider.noUiSlider.disable();
                    start_input.disabled = true;
                    end_input.disabled = true;
                };

                setSliderVisibility = function(checkbox, prefix) {
                    if (checkbox.checked == true) {
                        enableSlider(prefix);
                    } else {
                        disableSlider(prefix);
                    }
                };

                addChangeListener = function(checkbox, prefix) {
                    checkbox.addEventListener('change', function() {
                        setSliderVisibility(checkbox, prefix);
                    });
                };

                ['birth', 'death'].forEach(function(prefix) {
                    checkbox = document.querySelector("#normalised_date_of_"+prefix+"_checkbox");
                    addChangeListener(checkbox, prefix);
                    setSliderVisibility(checkbox, prefix);
                });
            })();
        </script>
    </div>
</div>
<div class="col-md-8">

     <div class="pt-2 hstack gap-3 border-bottom">
        <div class="pagination me-auto">
            {% bootstrap_pagination persons url=request.get_full_path %}
        </div>
        <div class="text-secondary">{% if count %}{{ count }} persons found.{% endif %}</div>
    </div>

    <ul class="list-group list-group-flush pb-2 mb-4">
        {% for person in persons %}
            <li class="list-group-item px-0">
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <div class="float-end">
                            {{ person.place_of_birth|default:"" }}
                            {{ person.date_of_birth|default:"" }}
                            &mdash;
                            {{ person.place_of_death|default:"" }}
                            {{ person.date_of_death|default:"" }}
                        </div>
                        <div class="mb-2">
                            <a href="{% url 'shewrote:person' person.id %}" title="Person details">
                            {{ person.short_name }}</a>
                            {% if person.sex == "M" %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                                </svg>
                            {% elif person.sex == "F" %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                                </svg>
                            {% endif %}
                        </div>
                        {% if person.viaf_or_cerl %}
                            <a href="{{ person.viaf_or_cerl }}" title="VIAF" class="float-end icon-link icon-link-hover">
                                VIAF
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                            </a>
                        {% endif %}
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-secondary me-2">Full name:&nbsp;</td>
                                    <td>{{ person.first_name }} {{ person.birth_name }}</td>
                                </tr>
                                {% with person.alternativename_set.all as alternative_names %}
                                    {% if alternative_names %}
                                        <tr>
                                            <td class="text-secondary">Alternative names:&nbsp;</td>
                                            <td>
                                                {% for alternative_name in alternative_names %}
                                                    {{ alternative_name }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                    {% endif %}
                                {% endwith %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-11 col-sm-2 text-center">
                        {% if person.image %}
                            <img src="{% get_media_prefix %}{{ person.image }}" class="img-thumbnail" style="max-height: 128px"/>
                        {% else %}
                        <div class="text-muted text-center fst-italic"><small>No image</small></div>
                        {% endif %}
                    </div>
                    <div class="col-1 ps-0">
                        {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'shewrote:edit_person' person.id %}" title="Edit" class="ms-2 float-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item border-0">No persons found.</li>
        {% endfor %}
    </ul>

     <div class="pt-2 hstack gap-3 border-bottom">
        <div class="pagination me-auto">
            {% bootstrap_pagination persons url=request.get_full_path %}
        </div>
    </div>
</div>

{% endblock content %}
