{% extends 'shewrote/base.html' %}

{% block page_header %}
    <h1>
        {{ person.short_name }}
        <small class="text-muted">
            ({{ person.date_of_birth }} - {{ person.date_of_death }})
            {% if person.sex == "M" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                </svg>
            {% elif person.sex == "F" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                </svg>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'shewrote:edit_person' person.id %}" title="Edit" class="btn btn-primary float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    Edit
                </a>
            {% endif %}
        </small>
    </h1>
    {% with person.get_last_edit as crudevent %}
        {% if crudevent %}
            <h6>Last edited by <i>{{ crudevent.user.username }}</i> on {{ crudevent.datetime }}</h6>
        {% endif %}
    {% endwith %}
{% endblock page_header %}

{% block content %}
    <script>
        function nav(location){
            console.log("going to: " + location);
            window.location = '#' + location;

            // Show accordion if not shown
            const accordion_item = document.getElementById(location)
            const collapse_element = accordion_item.getElementsByClassName('accordion-collapse')[0];
            if(!collapse_element.classList.contains('show')) {
                const collapse_button = accordion_item.getElementsByClassName('accordion-button')[0];
                collapse_button.click();
            }
        }
    </script>
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3 sticky-top" style="padding-top:10px" id="v-pills-tab" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-basic-tab" data-bs-toggle="tab" data-bs-target="#v-pills-basic"
                        type="button" role="tab" aria-controls="v-pills-basic" onclick="nav('v-pills-basic')">Basic info</button>
                <button class="nav-link" id="v-pills-personal-tab" data-bs-toggle="tab" data-bs-target="#v-pills-personal"
                        type="button" aria-controls="v-pills-personal" aria-selected="false" onclick="nav('v-pills-personal')">Personal situation</button>
                <button class="nav-link" id="v-pills-profession-tab" data-bs-toggle="tab" data-bs-target="#v-pills-profession"
                        type="button" aria-controls="v-pills-profession" aria-selected="false" onclick="nav('v-pills-profession')">Professional situation</button>
                <button class="nav-link" id="v-pills-work-tab" data-bs-toggle="tab" data-bs-target="#v-pills-work"
                        type="button" role="tab" aria-controls="v-pills-work" aria-selected="false" onclick="nav('v-pills-work')">Works</button>
                <button class="nav-link" id="v-pills-reception-tab" data-bs-toggle="tab" data-bs-target="#v-pills-reception"
                        type="button" aria-controls="v-pills-reception" aria-selected="false" onclick="nav('v-pills-reception')">Receptions</button>
            </div>


            <div class="col">
                <div class="accordion" id="personDetails">
                    <div id="v-pills-basic" class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#v-pills-basic-collapse" aria-controls="v-pills-basic-collapse">
                                <h4>Basic info</h4>
                            </button>
                        </div>
                        <div id="v-pills-basic-collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body d-flex flex-row">
                              <div class="flex-fill">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="w-25">Short name</th>
                                            <td>{{ person.short_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">VIAF</th>
                                            <td><a href="{{ person.viaf_or_cerl }}">{{ person.viaf_or_cerl }}</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">First name</th>
                                            <td>{{ person.first_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Maiden name</th>
                                            <td>{{ person.maiden_name }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Married name</th>
                                            <td>
                                                {% for marriage in person.get_marriages %}
                                                    {{ marriage.married_name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% if person.get_alternative_names %}
                                            <tr>
                                                <th scope="row" class="w-25">Alternative name</th>
                                                <td>
                                                    {% for alternative_name in person.get_alternative_names %}
                                                        {{ alternative_name.alternative_name }}
                                                        {% if alternative_name.start_year or alternative_name.end_year %}
                                                            ({{ alternative_name.start_year|default:"?" }} - {{ alternative_name.end_year|default:"?" }})
                                                        {% endif %}
                                                        {% if not forloop.last %},{% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <th scope="row">Date of birth</th>
                                            <td>{{ person.date_of_birth|default:"-" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Date of death</th>
                                            <td>{{ person.date_of_death|default:"-" }}</td>
                                        </tr>
                                        {% if person.alternative_birth_date %}
                                            <tr>
                                                <th scope="row">Birth date Notes</th>
                                                <td>{{ person.alternative_birth_date|default:"-" }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if person.alternative_death_date %}
                                            <tr>
                                                <th scope="row">Death date Notes</th>
                                                <td>{{ person.alternative_death_date|default:"-" }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <th scope="row">Flourishing</th>
                                            <td>{{ person.flourishing_start|default:"" }} - {{ person.flourishing_end|default:"" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Sex</th>
                                            <td>{{ person.get_sex_display|default:"-" }}</td>
                                        </tr>
                                        {% if person.alternative_name_gender %}
                                            <tr>
                                                <th scope="row" class="w-25">Alternative gender</th>
                                                <td>{{ person.get_alternative_name_gender_display|default:"-" }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <th scope="row" class="w-25">Place of birth</th>
                                            <td>{{ person.place_of_birth|default:"-" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Place of death</th>
                                            <td>{{ person.place_of_death|default:"-" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Lived in</th>
                                            <td>
                                                {% for period_of_residence in person.get_places_of_residence %}
                                                    {{ period_of_residence.place }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Place of residence notes</th>
                                            <td>{{ person.place_of_residence_notes }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Related to</th>
                                            <td>
                                                {% if person.related_to.all %}
                                                    {% for related_person in person.related_to.all %}
                                                        <a href="{% url 'shewrote:person' related_person.id %}">
                                                            {{ related_person }}
                                                        </a>{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Bibliography</th>
                                            <td>{{ person.bibliography|default:"-" }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Provisional Notes</th>
                                            <td>{{ person.notes|default:"-" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                              </div>
                                {% if image %}
                                    <div class="w-25 ms-3">
                                        <a href="{{ image.url }}">
                                            <img src="{{ image.url }}" class="img-fluid"/>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div id="v-pills-personal" class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#v-pills-personal-collapse" aria-controls="v-pills-personal-collapse">
                                <h4>Personal situation</h4>
                            </button>
                        </div>
                        <div id="v-pills-personal-collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="w-25">Marital status</th>
                                            <td>
                                                {% for marriage in person.get_marriages %}
                                                    {{ marriage.get_marital_status_display }}
                                                    {% if marriage.start_year %}
                                                        ({{ marriage.start_year }}-{{ marriage.end_year }}){% endif %}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Spouse</th>
                                            <td>
                                                {% for marriage in person.get_marriages %}
                                                    <a href="{% url 'shewrote:person' marriage.spouse.id %}">
                                                        {{ marriage.spouse }}
                                                    </a>
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th  scope="row" class="w-25">
                                                Parents
                                            </th>
                                            <td>
                                                {% if person.mother %}
                                                <a href="{% url 'shewrote:person' person.mother.id %}">
                                                    {{ person.mother|default:"" }}
                                                </a>
                                                {% endif %}
                                                {% if person.father %}
                                                <a href="{% url 'shewrote:person' person.father.id %}">
                                                    {{ person.father|default:"" }}
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Children</th>
                                            <td>
                                                {% for child in person.get_children %}
                                                    <a href="{% url 'shewrote:person' child.id %}">
                                                        {{ child }}
                                                    </a>{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Religion / ideology</th>
                                            <td>
                                                {% for religion in person.get_religions %}
                                                    {{ religion }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Education</th>
                                            <td>
                                                {% for education in person.get_education %}
                                                    {{ education }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Aristocratic title</th>
                                            <td>
                                                {{ person.aristocratic_title|default:"-" }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Professional or ecclesiastical title</th>
                                            <td>
                                                {{ person.professional_ecclesiastic_title|default:"-" }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="v-pills-profession" class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#v-pills-profession-collapse" aria-controls="v-pills-profession-collapse">
                                <h4>Professional situation</h4>
                            </button>
                        </div>
                        <div id="v-pills-profession-collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="w-25">Profession(s)</th>
                                            <td>
                                                {% for profession in person.get_professions %}
                                                    {{ profession.profession }}
                                                    {% if profession.start_year %}
                                                        ({{ profession.start_year }}-{{ profession.end_year }}){% endif %}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Memberships</th>
                                            <td>
                                                {% for collective in person.get_collectives %}
                                                    {{ collective }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Place(s) of Residence</th>
                                            <td>
                                                {% for residence in person.get_places_of_residence %}
                                                    {{ residence.place }}
                                                    {% if residence.start_year %}
                                                        ({{ residence.start_year }}-{{ residence.end_year }}){% endif %}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="v-pills-work" class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#v-pills-work-collapse" aria-controls="v-pills-work-collapse">
                                <h4>Works</h4>
                            </button>
                        </div>
                        <div id="v-pills-work-collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="w-25">Author of</th>
                                            <td>
                                                <ul>
                                                    {% for work in is_creator_of %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="v-pills-reception" class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#v-pills-reception-collapse" aria-controls="v-pills-reception-collapse">
                                <h4>Receptions</h4>
                            </button>
                        </div>
                        <div id="v-pills-reception-collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="w-25">Biography</th>
                                            <td>
                                                <ul>
                                                    {% for work in has_biography %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Commented on in</th>
                                            <td>
                                                <ul>
                                                    {% for work in is_commented_on_in %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Mentioned in</th>
                                            <td>
                                                <ul>
                                                    {% for work in is_mentioned_in %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="w-25">Referenced in</th>
                                            <td>
                                                <ul>
                                                    {% for work in is_referenced_in %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}