{% extends 'shewrote/base.html' %}

{% block page_header %}
    <h1>{{ person.short_name }} ({{ person.date_of_birth }} - {{ person.date_of_death }})</h1>
{% endblock page_header %}

{% block content %}
    <div class="card mb-3">
        <h4 class="card-header">
            Basic info - <small><a href="{%  url 'shewrote:edit_person' person.id %}">Edit</a></small>
        </h4>
        <div class="card-body">
            <p>Name variations / spellings {{ person.first_name }} {{ person.maiden_name }}</p>
            <p>Pseudonyms</p>
            <p>Person type</p>
            <p>Gender {{ person.sex }}
            <p>Birth date {{ person.date_of_birth }}</p>
            <p>Birth place {{ person.place_of_birth }}</p>
            <p>Lived in </p>
            <p>Death date {{ person.date_of_death }}</p>
            <p>Death place {{ person.place_of_death }}</p>
            <p>Related to {{ person.related_to }}</p>
            <p>Bibliography {{ person.bibliography }}</p>
            <p>Provisional Notes {{ person.notes }}</p>
            <p>Persistent ID </p>
        </div>
    </div>

    <p><label>VIAF or CERL</label> {{ person.viaf_or_cerl }} </p>
    <p><label>Alt. birth date</label> {{ person.alternative_birth_date }}</p>
    <p><label>Alt. death date</label> {{ person.alternative_death_date }}</p>
    <p><label>Flourishing start</label> {{ person.flourishing_start }}</p>
    <p><label>Flourishing end</label> {{ person.flourishing_end }}</p>
    <p><label>Alt. name gender</label> {{ person.alternative_name_gender }}</p>
    <p><label>Prof. ecclesiastic title</label> {{ person.professional_ecclesiastic_title }}</p>
    <p><label>Aristocratic title</label> {{ person.aristocratic_title }}</p>
    <p><label>Education</label> {{ person.education }}</p>
    <p><label>Mother</label> {{ person.mother }}</p>
    <p><label>Father</label> {{ person.father }}</p>

{% endblock content %}