{% extends 'shewrote/base.html' %}

{% block page_header %}
    <h1>
        {{ work.title }}
        <small class="text-muted">
            {% if user.is_authenticated %}
                <a href="{% url 'shewrote:edit_work' work.id %}" title="Edit" class="btn btn-primary float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    Edit
                </a>
            {% endif %}
        </small>
    </h1>
    {% with work.get_last_edit as crudevent %}
        {% if crudevent %}
            <h6>Last edited by <i>{{ crudevent.user.username }}</i> on {{ crudevent.datetime }}</h6>
        {% endif %}
    {% endwith %}
{% endblock page_header %}

{% block content %}
    <table style="table-layout: fixed; width: 50%">
        <tbody>
            <tr>
                <td class="text-secondary">Name</td>
                <td class="text-secondary" style="padding-left:8px">Role</td>
            </tr>
            {% for personwork in work.personwork_set.all %}
                <tr>
                    <td><a href="{% url 'shewrote:person' personwork.person_id %}">{{ personwork.person }}</td>
                    <td style="padding-left:8px">{{ personwork.role }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
