
                <div class="mx-3" id="{{ prefix }}_slider"></div>
                <div class="">
                    <input type="number" name="{{ prefix }}_start" id="{{ prefix }}_start" min="{{ min }}"
                            max="{{ slider_info.max }}" value="{{ slider_info.start }}" class="w-25"
                            autocomplete=off/>
                    <input type="number" name="{{ prefix }}_end" id="{{ prefix }}_end" min="{{ slider_info.min }}"
                            max="{{ slider_info.max }}" value="{{ slider_info.end }}"  class="w-25 float-end"
                            autocomplete=off/>
                </div>
                <script>
                    (function() {
                        var slider = document.getElementById('{{ prefix }}_slider');
                        var start = document.getElementById('{{ prefix }}_start');
                        var end = document.getElementById('{{ prefix }}_end');

                        noUiSlider.create(slider, {
                            start: [{{ slider_info.start }}, {{ slider_info.end }}],
                            step: 1,
                            connect: true,
                            range: {'min': {{ slider_info.min }}, 'max': {{ slider_info.max }}},
                            behaviour: 'drag',
                        });

                        function setInputs(values) {
                            [start.value, end.value] = values.map((x) => Math.trunc(x));
                        }

                        slider.noUiSlider.on('slide', setInputs);
                        start.oninput = function() { console.log('foo'); slider.noUiSlider.set([start.value, null]); };
                        end.oninput = function() { slider.noUiSlider.set([null, end.value]); };

                        slider.noUiSlider.set([start.value, end.value]);
                    })();
                </script>