                                        <tr>
                                            <th scope="row" class="w-25">{{ title }}</th>
                                            <td>
                                                {% if works %}
                                                <ul>
                                                    {% for work in works %}
                                                        <li>
                                                            <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                            {% if work.date_of_publication_text %}
                                                                ({{ work.date_of_publication_text }})
                                                            {% endif %}

                                                            {% include 'shewrote/components/work_reception.html' with receptions=work.is_same_as_reception.all text="is also a" %}
                                                            {% include 'shewrote/components/work_reception.html' with receptions=work.contained_receptions.all text="contains a" %}
                                                            <br/>
                                                            <small>
                                                                <i>receptions: {{ work.workreception__reception__count }}</i>&nbsp;&nbsp;&nbsp;<i>circulations: {{ work.workcirculation__circulation__count }}</i>
                                                            </small>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                -
                                                {% endif %}
                                            </td>
                                        </tr>
