                                <h5>{{ title }}</h5>
                                        {% if works %}
                                    <table class="table w-100">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>receptions</th>
                                                <th>circulations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for work in works %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'shewrote:work' work.id %}">{{ work.title }}</a>
                                                        {% if work.date_of_publication_text %}
                                                            ({{ work.date_of_publication_text }})
                                                        {% endif %}
                                                        {% include 'shewrote/components/work_reception.html' with receptions=work.is_same_as_reception.all text="is also a" %}
                                                        {% include 'shewrote/components/work_reception.html' with receptions=work.contained_receptions.all text="contains a" %}
                                                    </td>
                                                    <td class="text-end">
                                                        {{ work.workreception__reception__count }}
                                                    </td>
                                                    <td class="text-end">
                                                        {{ work.workcirculation__circulation__count }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        -
                                    {% endif %}
                                    <hr/>
