{% if receptions %}
<ul class="ps-2" style="list-style-type: '- '">
{% for reception in receptions %}
    <li>
    <small>
        {{ text }}
        {% with reception.workreception_set.all as workreceptions %}
        {% with reception.personreception_set.all as personreceptions %}
        <a href="{% url 'shewrote:reception' reception.id %}">reception</a>{% if workreceptions or personreceptions %}:
                {% for workreception in workreceptions %}
                    {{ workreception.type }}
                    {% for author in workreception.work.get_creators %}
                        <a href="{% url 'shewrote:person' author.id %}">{{ author.short_name }}</a>,
                    {% endfor %}
                    <a href="{% url 'shewrote:work' workreception.work_id %}">{{ workreception.work }}</a>{% if not forloop.last or personreceptions %}, {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% endwith %}
    </small>
    </li>
{% endfor %}
</ul>
{% endif %}