{% extends 'shewrote/base.html' %}


{% block page_header %}
	<h1>Digital Humanities databases on the history of women’s writing
	and publishing, and digital editions of works by women</h1>
{% endblock page_header %}


{% block content %}
<p>This list is
based on an earlier survey published by Amelia Sanz, ‘Para imaginar
una historia de las mujeres en digital’, in <i>Tropelías</i>, 36
(2021) <a href="https://doi.org/10.26754/ojs_tropelias/tropelias.2021365320">https://doi.org/10.26754/ojs_tropelias/tropelias.2021365320</a>.
First modified in July 2024, the changes between those dates are in
themselves significant: twelve new site versions, five with a new URL
and/or hosting institution, and two no longer available, such as Les
écrits féminins non-fictionnels du Moyen Âge au XVIIIe siècle. Un
inventaire raisonné (1999?)
<a href="http://aix1.uottawa.ca/~margirou/accueil.htm">http://aix1.uottawa.ca/~margirou/accueil.htm</a>.
Projects that are no longer active due to technical and financial
sustainability problems have been excluded, as evidenced by a URL
that no longer works for six months or longer; some of these were
presented by Georgianna Ziegler, ‘Women Writers Online: An
Evaluation and Annotated Bibliography of Web Resources’, in <i>Early
Modern Literary Studies</i>, 6.3 (2001)
<a href="http://purl.oclc.org/emls/06-3/ziegbib.htm">http://purl.oclc.org/emls/06-3/ziegbib.htm</a>,
and by Laura Mandell, ‘Gendering Digital Literary History: What
counts for Digital Humanities’, in Susan Schreibman (ed.), <i>A new
companion to Digital Humanities</i> (New Jersey, Wiley Backwell,
2017), pp. 511–523. See also, for France, the SIEFAR’s ‘Web
Sites dedicated to women’
(<a href="https://siefar.org/en/la-recherche/sites-par-femmes">https://siefar.org/en/la-recherche/sites-par-femmes</a>).
</p>

<p>We have done our
best to provide information that is as accurate and up-to-date as
possible, but should your database be missing from the list, or the
information in the listing need to be corrected or updated, please
contact either Amelia Sanz, <a href="mailto:amsanz@filol.ucm.es">amsanz@filol.ucm.es</a>,
or Alicia C. Montoya, <a href="mailto:Alicia.Montoya@ru.nl">Alicia.Montoya@ru.nl</a>,
so we can make the changes needed. 
</p>
<p><br/>
<br/>

</p>
<h4>Databases on
	the history of women’s writing and publishing</h4>
<table class="table">
	<thead></thead>
		<tr>
			<th><p>
				Name
				of database</p>
			</th>
			<th><p>
				URL</p>
			</th>
			<th><p>
				Main
				editor or director</p>
			</th>
			<th><p>
				Institution</p>
			</th>
			<th><p>
				Date
				of public launch</p>
			</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td><p>
			A
			Database of Irish Women's Writing, 1800-2005</p>
		</td>
		<td><p align="left">
			<a href="https://warwick.ac.uk/fac/arts/history/irishwomenwriters/database/"><span>https://warwick.ac.uk/fac/arts/history/irishwomenwriters/database/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Maria
			Luddy &amp;</p>
			<p>
			Gerardine
			Meaney</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Warwick</p>
		</td>
		<td><p>
			2018</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Archives
			of the invisible. A base for digitization and research of sources
			in the field of women’s history in the Macedonian past</p>
		</td>
		<td><p align="left">
			<a href="https://nevidliviarhivi.mk/"><span>hhttps://nevidliviarhivi.mk/magazines/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Ivana
			Hadzievaka &amp; Jana Kocevska</p>
		</td>
		<td><p>
			Center
			for Research on Nationalism and Culture. Skopje</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2022</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Archivo
			de Mujeres</p>
		</td>
		<td><p align="left">
			<a href="https://archivodemujeres.omeka.net/collections/browse"><span>https://archivodemujeres.omeka.net/collections/browse</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Clara
			Inés Ramírez González</p>
		</td>
		<td><p>
			Universidad
			Autónoma de México</p>
		</td>
		<td><p>
			2020</p>
		</td>
	</tr>
	<tr>
		<td><p>
			BIESES:
			Bibliografía de escritoras españolas</p>
		</td>
		<td><p align="left">
			<a href="http://62.204.211.38:8080/bieses/"><span>http://62.204.211.38:8080/bieses/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Maria
			Martos &amp; Nieves Baranda</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Universidad
			Nacional de Educación a Distancia 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2004</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Catálogo
			de Santas Vivas base de datos</p>
		</td>
		<td><p align="left">
			<a href="https://basededatos.visionarias.es/"><span>https://basededatos.visionarias.es/</span></a></p>
		</td>
		<td><p>
			Blanca
			Santos de la Morena 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Universidad
			Complutense 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2024</p>
		</td>
	</tr>
	<tr>
		<td><p>
			A
			Celebration of Women Writers</p>
		</td>
		<td><p align="left">
			<a href="http://digital.library.upenn.edu/women/"><span>http://digital.library.upenn.edu/women/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Mary
			Marck Ockerbloom</p>
		</td>
		<td><p>
			Library
			of Congress?</p>
		</td>
		<td><p>
			1994</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Collective
			Biographies of Women</p>
		</td>
		<td><p align="left">
			<a href="https://cbw.iath.virginia.edu/"><span>https://cbw.iath.virginia.edu/</span></a></p>
		</td>
		<td><p>
			Alisson
			Booth 
			</p>
		</td>
		<td><p>
			University
			of Virginia</p>
		</td>
		<td><p>
			2013–2017</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Corvey
			Women Writers on the Web (CB2): An electronic guide to literature
			1796–1834</p>
		</td>
		<td><p align="left">
			<a href="https://extra.shu.ac.uk/corvey/cw3/indexohp.htm"><span>https://extra.shu.ac.uk/corvey/cw3/indexohp.htm</span></a></p>
		</td>
		<td><p>
			Philip
			Cox, Emma Clery &amp; Julie Shaffer</p>
		</td>
		<td><p>
			Sheffield
			Hallam University</p>
		</td>
		<td><p>
			1996</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Dictionnaire
			des Femmes de l’ancienne France</p>
		</td>
		<td><p align="left">
			<a href="https://siefar.org/dictionnaire/fr/Accueil"><span>https://siefar.org/dictionnaire/fr/Accueil</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Marie-Élisabeth
			Henneau</p>
		</td>
		<td><p>
			Société
			Internationale pour l’Etude des Femmes de l’Ancien Régime 
			(SIEFAR) 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2010</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Donne
			in Arcadia (1690–1800)</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="http://www.arcadia.uzh.ch/"><span>http://www.arcadia.uzh.ch</span></a></p>
			<p>(being
			moved)</p>
		</td>
		<td><p>
			Tatiana
			Crivelli</p>
		</td>
		<td><p>
			University
			of Zurich</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2004</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Elektronska
			Zbirka Pisma</p>
		</td>
		<td><p align="left">
			<a href="https://pisma.org/pisma"><span>https://pisma.org/pisma</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Katja
			Mihurko</p>
		</td>
		<td><p>
			University
			of Nova Gorica (Slovenia)</p>
		</td>
		<td><p>
			2022</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Emory
			Women Writers Research Project (texts by women writing from the
			17th century through the early 20th century)</p>
		</td>
		<td><p align="left">
			<a href="http://womenwriters.library.emory.edu/ewwrp/"><span>http://womenwriters.library.emory.edu/ewwrp/</span></a></p>
			<p>(Site
			undergoing maintenance,  temporarily unavailable; no alternative
			link)</p>
		</td>
		<td><p>
			Sheila
			Cavanagh 
			</p>
		</td>
		<td><p>
			Emory
			University</p>
		</td>
		<td><p>
			2006</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Epistolae:
			Medieval Women's Latin Letters</p>
		</td>
		<td><p align="left">
			<a href="https://epistolae.ctl.columbia.edu/letters/"><span>https://epistolae.ctl.columbia.edu/letters/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Joan
			Ferrante</p>
		</td>
		<td><p>
			Columbia
			University Libraries 
			</p>
		</td>
		<td><p>
			2022
			(earlier version online since 2014)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Escritoras.
			Women Writers in Portuguese before 1900</p>
		</td>
		<td><p align="left">
			<a href="https://escritoras-em-portugues.com/en/"><span>https://escritoras-em-portugues.com/en/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Antonio
			Ramalho, Inês de Ornellas, Isabel Mourallao, et al. 
			</p>
		</td>
		<td><p>
			University
			of Lisbon</p>
		</td>
		<td><p>
			2023</p>
		</td>
	</tr>
	<tr>
		<td><p>
			ExFemLiOn:
			Deutschsprachige Literatur von Frauen im Rahmen migrantischer
			Bewegungen (1900 bis heute)   
			</p>
		</td>
		<td><p align="left">
			<a href="https://usc-vitruvia.es/omeka/items/search?lang=en"><span>https://usc-vitruvia.es/omeka/items/search?lang=en</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Dolors
			Sabaté Planes et al.</p>
		</td>
		<td><p>
			Universidad
			de Santiago de Compostela 
			</p>
		</td>
		<td><p>
			2016-2020?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Female
			Robinsonades – a bibliography</p>
		</td>
		<td><p align="left">
			<a href="https://www2.hf.uio.no/tjenester/bibliografi/Robinsonades"><span>https://www2.hf.uio.no/tjenester/bibliografi/Robinsonades</span></a></p>
		</td>
		<td><p>
			Anne
			Birgitte Rønning 
			</p>
		</td>
		<td><p>
			University
			of Oslo 
			</p>
		</td>
		<td><p>
			2011</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Feminae:
			Medieval Women and Gender Index</p>
		</td>
		<td><p align="left">
			<a href="http://inpress.lib.uiowa.edu/Feminae/default.aspx"><span>http://inpress.lib.uiowa.edu/Feminae/default.aspx</span></a></p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Margaret
			Schaus</p>
		</td>
		<td><p align="left">
			<a href="http://www.lib.uiowa.edu/"><span>University
			of Iowa Libraries</span></a></p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2014</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Franciscan
			Web</p>
		</td>
		<td><p align="left">
			<a href="https://franwomen.sbu.edu/default.aspx"><span>https://franwomen.sbu.edu/default.aspx</span></a></p>
		</td>
		<td><p>
			Jean
			François Godet-Calogera, Bert Roest, Alison More and Matt
			Mackowski</p>
		</td>
		<td><p>
			St.
			Bonaventure University</p>
		</td>
		<td><p>
			2003?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Frauen
			des Humanismus</p>
		</td>
		<td><p align="left">
			<a href="https://mateo.uni-mannheim.de/start6.html"><span>https://mateo.uni-mannheim.de/start6.html</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Heinz
			Kredel, Wolfgang Schibel, Emir Zuljevic</p>
		</td>
		<td><p align="left">
			<a href="http://www.bib.uni-mannheim.de/"><span>Universitätsbibliothek
			Mannheim</span></a></p>
			<p><br/>

			</p>
		</td>
		<td><p>
			1996</p>
		</td>
	</tr>
	<tr>
		<td><p>
			French
			Women Writers</p>
		</td>
		<td><p align="left">
			<a href="https://artflsrv04.uchicago.edu/philologic4.7/fww/"><span>https://artflsrv04.uchicago.edu/philologic4.7/fww/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Robert
			Morrissey</p>
		</td>
		<td><p>
			ARTFL
			Project. University of Chicago</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2009</p>
		</td>
	</tr>
	<tr>
		<td><p align="left">
			<span lang="nl-NL">Fürstinnenbibliotheken
			und Wissenspraktiken im deutschsprachigen Raum des 18.
			Jahrhunderts</span></p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://tcdh.uni-trier.de/de/projekt/fuerstinnenbibliotheken-und-wissenspraktiken-im-deutschsprachigen-raum-des-18-jahrhunderts"><span>https://tcdh.uni-trier.de/de/projekt/fuerstinnenbibliotheken-und-wissenspraktiken-im-deutschsprachigen-raum-des-18-jahrhunderts</span></a></p>
		</td>
		<td><p>
			Joëlle
			Weiss</p>
		</td>
		<td><p>
			University
			of Trier</p>
		</td>
		<td><p>
			2024</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Gosteli-Stiftung
			– Archiv zur Geschichte der schweizerischen Frauenbewegung</p>
		</td>
		<td><p align="left">
			<a href="https://gosteli.anton.ch/"><span>https://gosteli.anton.ch/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Lina
			Gafner &amp; Simone Isler 
			</p>
		</td>
		<td><p>
			Marthe
			Gosteli Foundation (Switzerland)</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2010</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Herstory
			Academic Database for Turkey</p>
		</td>
		<td><p align="left">
			<a href="http://www.istanbulkadinmuzesi.org/en/herstory_academic_database_for_turkey/searching"><span>http://www.istanbulkadinmuzesi.org/en/herstory_academic_database_for_turkey/searching</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Meral
			Akkent</p>
		</td>
		<td><p>
			Women's
			Museum Istanbul</p>
		</td>
		<td><p>
			2011</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Knjiženstvo,
			Theory and History of Women's Writing in Serbian until 1915.</p>
		</td>
		<td><p align="left">
			<a href="http://knjizenstvo.etf.bg.ac.rs/en"><span>http://knjizenstvo.etf.bg.ac.rs/en</span></a></p>
		</td>
		<td><p>
			Biljana
			Dojčinović 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Belgrade</p>
		</td>
		<td><p>
			2011</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Mary
			Zirin's Bibliography of Pre-Revolutionary Writings by Women</p>
		</td>
		<td><p align="left">
			<a href="https://zlist.omeka.net/items/browse?collection=4"><span>https://zlist.omeka.net/items/browse?collection=4</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Annabella
			Irvine, Sveta Stoytcheva &amp; Mary Fleming Zirin</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Illinois</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2009</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Ming
			Qing Women’s Writers 
			</p>
		</td>
		<td><p align="left">
			<a href="https://digital.library.mcgill.ca/mingqing/search/index_eng.php"><span>https://digital.library.mcgill.ca/mingqing/search/index_eng.php</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Grace
			S. Fong 
			</p>
		</td>
		<td><p>
			McGill
			Library Digital Initiatives 
			</p>
		</td>
		<td><p>
			2003
			(last update)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Monastic
			Matrix. A scholarly resource for the study of women's religious
			communities from 400 to 1600 CE.</p>
		</td>
		<td><p align="left">
			<a href="https://arts.st-andrews.ac.uk/monasticmatrix/search"><span>https://arts.st-andrews.ac.uk/monasticmatrix/search</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Alison
			Beach</p>
		</td>
		<td><p>
			School
			of History. University of St. Andrews</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2021</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Stainforth Library of Women’s Writing</p>
		</td>
		<td><p align="left">
			<a href="https://stainforth.scu.edu/"><span>https://stainforth.scu.edu/</span></a></p>
		</td>
		<td><p>
			Kirstyn
			Leuner &amp; Deborah Hollis</p>
		</td>
		<td><p>
			Santa
			Clara University</p>
		</td>
		<td><p>
			2014</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Studying
			Historical Early Women’s Reception: Oeuvres, Texts, Engagements
			(SHEWROTE)</p>
		</td>
		<td><p align="left">
			<a href="https://shewrote.rich.ru.nl/"><span>https://shewrote.rich.ru.nl</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Alicia
			Montoya, Amelia Sanz et al.</p>
		</td>
		<td><p>
			Radboud
			University</p>
		</td>
		<td><p>
			2023
			(new iteration of WomenWriters database, started 1997, ed. Suzan
			van Dijk)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Théâtre
			de femmes 16–18</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://citedesdames.github.io/theatre1618/"><span>https://citedesdames.github.io/theatre1618/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Philippe
			Gambette 
			</p>
		</td>
		<td><p>
			Université
			Gustave Eiffel</p>
		</td>
		<td><p>
			2023</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Reception &amp; Circulation of Early Women's Writing, 1550–1700
			(RECIRC)</p>
		</td>
		<td><p align="left">
			<a href="https://recirc.universityofgalway.ie/explore"><span>https://recirc.universityofgalway.ie/explore</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Marie-Louise
			Coolahan</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Ireland Galway</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2014-2020</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Russian
			Culture and Gender Studies</p>
		</td>
		<td><p align="left">
			<a href="https://www2.slavistik.uni-freiburg.de/slavlit/de/index.php"><span>https://www2.slavistik.uni-freiburg.de/slavlit/de/index.php</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Elisabeth
			Cheauré</p>
		</td>
		<td><p>
			Slavischen
			Seminar der Universität Freiburg</p>
		</td>
		<td><p>
			1996?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Zolotaja
			ručka: Russian Women Writers and Women's Writing in the
			Eighteenth and Nineteenth Centuries</p>
		</td>
		<td><p align="left">
			<a href="https://zolotajarucka.squarespace.com/"><span>https://zolotajarucka.squarespace.com/</span></a></p>
		</td>
		<td><p>
			Sara
			Dickinson</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Università
			degli Studi di Genova</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2015</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			History of Nordic Women Writers (NWL)</p>
		</td>
		<td><p align="left">
			<a href="https://nordicwomensliterature.net">https://nordicwomensliterature.net</a></p>
		</td>
		<td><p>
			Anne-Marie
			Mai</p>
		</td>
		<td><p>
			KVINFO.</p>
			<p>Copenhagen</p>
		</td>
		<td><p>
			2008?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Orlando.
			Women’s Writing in the British Isles from the Beginnings to the
			Present</p>
		</td>
		<td><p align="left">
			<a href="https://orlando.cambridge.org/"><span>https://orlando.cambridge.org/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Susan
			Brown, Patricia Clements &amp; Isobel Grundy</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Cambridge
			University Press</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2022
			(initial publication in 2006)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Perdita
			Manuscripts, 1500-1700 
			</p>
		</td>
		<td><p align="left">
			<a href="https://www.perditamanuscripts.amdigital.co.uk/"><span>https://www.perditamanuscripts.amdigital.co.uk/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Elizabeth
			Clarke&nbsp;</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Warwick</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<span>2021
			(</span><a href="http://web.warwick.ac.uk/english/perdita/html/"><span>earlier</span></a><span>
			version online since 1997)</span></p>
		</td>
	</tr>
	<tr>
		<td><p>
			Texts
			on the move: Reception of Women’s Writing in Finland and Russia,
			1840–2020</p>
		</td>
		<td><p align="left">
			<a href="https://tekstitliikkeessa.com/"><span>https://tekstitliikkeessa.com/</span></a><span>
			and </span><a href="https://puolukka.rd.tuni.fi/tekstitliikkeessa/#/search"><span>https://puolukka.rd.tuni.fi/tekstitliikkeessa/#/search</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Viola
			Parente-&nbsp;Čapková</p>
		</td>
		<td><p>
			Turku
			University</p>
		</td>
		<td><p>
			2022</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Victorian
			Women Writers Project</p>
		</td>
		<td><p align="left">
			<a href="https://webapp1.dlib.indiana.edu/vwwp/welcome.do;jsessionid=9D045A849D0E08D0BC6994381FCD18D4"><span>https://webapp1.dlib.indiana.edu/vwwp/welcome.do;jsessionid=9D045A849D0E08D0BC6994381FCD18D4</span></a></p>
		</td>
		<td><p>
			Angela
			Courtney &amp; Michelle Dalmau 
			</p>
		</td>
		<td><p>
			Indiana
			University Digital Library 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			1995</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Voices
			from the Gaps</p>
		</td>
		<td><p align="left">
			<a href="https://hdl.handle.net/11299/164018"><span>https://hdl.handle.net/11299/164018</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Toni
			McNaron &amp; Carol Miller</p>
		</td>
		<td><p>
			University
			of Minnesota</p>
		</td>
		<td><p>
			1996-2014</p>
		</td>
	</tr>
	<tr>
		<td><p>
			WeChangEd.
			Women Editors in Europe, 1710–1920</p>
		</td>
		<td><p align="left">
			<a href="https://www.wechanged.ugent.be/#stories"><span>https://www.wechanged.ugent.be/#stories</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Marianne
			van Remoortel</p>
		</td>
		<td><p>
			Ghent
			University</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2015</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Women's
			Early Modern Letters Online (WEMLO), integrated in Early Modern
			Letters Online (EMLO) database</p>
		</td>
		<td><p align="left">
			<a href="http://emlo.bodleian.ox.ac.uk/forms/advanced?people_gend=female"><span>http://emlo.bodleian.ox.ac.uk/forms/advanced?people_gend=female</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Kim
			McLean-Fiander, James Daybell, Howard Hotson &amp; Miranda Lewis 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Oxford 
			</p>
		</td>
		<td><p>
			2013
			
			</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Women
			Writers in Turkey</p>
		</td>
		<td><p align="left">
			<a href="http://en.writersofturkey.net/"><span>http://en.writersofturkey.net</span></a></p>
			<p>(URL not functioning, database being moved)</p>
		</td>
		<td><p align="left">
			<a href="http://en.writersofturkey.net/index.php?title=Burcu_Alkan" target="Burcu Alkan"><span>Burcu
			Alkan</span></a><span>
			&amp; Çimen </span><a href="http://en.writersofturkey.net/index.php?title=%C3%87imen_G%C3%BCnay-Erkol" target="Çimen Günay-Erkol"><span>Günay-Erkol</span></a></p>
			<p><br/>

			</p>
		</td>
		<td><p>
			?</p>
		</td>
		<td><p>
			2011</p>
		</td>
	</tr>
	<tr>
		<td>
			Women's Museum Istanbul
		</td>
		<td>
			<a href="http://www.istanbulkadinmuzesi.org/en">
				http://www.istanbulkadinmuzesi.org/en
			</a>
		</td>
		<td>
			Meral Akkent
		</td>
		<td>
			Women's Museum Istanbul
		</td>
		<td>
			2012
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Women’s Print History Project</p>
		</td>
		<td><p align="left">
			<a href="https://womensprinthistoryproject.com/"><span>https://womensprinthistoryproject.com/</span></a></p>
		</td>
		<td><p>
			Michelle
			Levy, Kate Moffatt &amp; Kandice Sharren  
			</p>
		</td>
		<td><p>
			Simon
			Fraser University</p>
		</td>
		<td><p>
			2015</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Women
			Writers Project</p>
		</td>
		<td><p align="left">
			<a href="http://www.wwp.northeastern.edu/"><span>http://www.wwp.northeastern.edu/</span></a></p>
		</td>
		<td><p>
			Julia
			Flanders 
			</p>
		</td>
		<td><p>
			Northeastern
			University</p>
		</td>
		<td><p>
			2013
			(first version online in 1999) 
			</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Women
			Writers Routes</p>
		</td>
		<td><p align="left">
			<a href="https://www.womenwriters.eu/"><span>https://www.womenwriters.eu</span></a></p>
		</td>
		<td><p>
			Andreja
			Richter 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Women
			Writers Route Association. Ljubljana</p>
		</td>
		<td><p>
			2017</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Writing
			for Women – W4W</p>
		</td>
		<td><p align="left">
			<a href="https://w4w.uv.es/CIRGEN/consulta"><span>https://w4w.uv.es/CIRGEN/consulta</span></a></p>
		</td>
		<td><p>
			Mónica
			Bolufer</p>
		</td>
		<td><p>
			University
			of Valencia</p>
		</td>
		<td><p>
			2024</p>
		</td>
	</tr>
	</tbody>
</table>
<p><br/>
<br/>

</p>
<h4>Digital
	editions of women’s writing (alphabetical by author name)</h4>
<table class="table">
	<thead>
	<tr>
		<th><p>
			Name
			of site</p>
		</th>
		<th><p>
			URL</p>
		</th>
		<th><p>
			Main
			editor(s)</p>
		</th>
		<th><p>
			Institution</p>
		</th>
		<th><p>
			Date
			of launching</p>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><p>
			The
			Jane Addams Digital Edition 
			</p>
		</td>
		<td><p align="left">
			<a href="https://digital.janeaddams.ramapo.edu/"><span>https://digital.janeaddams.ramapo.edu</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Cathy
			Moran</p>
			<p> 
			</p>
		</td>
		<td><p>
			School
			of Humanities and Global Studies, Ramapo College of New Jersey</p>
		</td>
		<td><p>
			2015</p>
		</td>
	</tr>
	<tr>
		<td><p>
			African
			American Women Writers of the 19th Century</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://libguides.nypl.org/african-american-women-writers-of-the-19th-Century"><span>https://libguides.nypl.org/african-american-women-writers-of-the-19th-Century</span></a></p>
		</td>
		<td><p>
			Serena
			Torres?</p>
		</td>
		<td><p>
			Shomburg
			Center for Research in Black Culture – New York Public Library</p>
		</td>
		<td><p>
			2020</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Romantic
			Circles</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://romantic-circles.org/editions"><span>https://romantic-circles.org/editions</span></a></p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Michele
			Speitz</p>
		</td>
		<td><p>
			University
			of Colorado</p>
		</td>
		<td><p>
			1996?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Hanna
			Arendt. Kritische Gesamtausgabe 
			</p>
		</td>
		<td><p align="left">
			<a href="https://hannah-arendt-edition.net/"><span>https://hannah-arendt-edition.net/</span></a></p>
		</td>
		<td><p>
			Hannah
			Gerlach, 
			</p>
			<p>Dr.
			Ingo Kieslich 
			</p>
		</td>
		<td><p>
			Freie
			Universität</p>
		</td>
		<td><p>
			2020</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Jane
			Austen’s Fiction Manuscripts Digital Edition</p>
		</td>
		<td><p align="left">
			<a href="https://janeausten.ac.uk/index.html"><span>https://janeausten.ac.uk/index.html</span></a></p>
		</td>
		<td><p>
			Kathryn
			Sutherland 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			English
			Faculty and St Anne’s College, Oxford 
			</p>
		</td>
		<td><p>
			2010
			
			</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Martha
			Ballard’s Diary Online 
			</p>
		</td>
		<td><p align="left">
			<a href="https://dohistory.org/diary/index.html"><span>https://dohistory.org/diary/index.html</span></a></p>
		</td>
		<td><p>
			Robert
			R. McCausland &amp; Cyntia MacAlman McCauland</p>
		</td>
		<td><p>
			George
			Mason University 
			</p>
		</td>
		<td><p>
			2000</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Elisabeth
			Barrett Browning Archive</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://ebbarchive.org/"><span>https://ebbarchive.org/</span></a></p>
		</td>
		<td><p>
			Marjorie
			Stone &amp; Keith Lawson 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Dalhousie
			University</p>
		</td>
		<td><p>
			2009
			
			</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Harriet Beecher Stowe Center, Uncle Tom’s Cabin and American
			Culture. A Multimedia Archive. 
			</p>
		</td>
		<td><p align="left">
			<a href="https://utc.iath.virginia.edu/"><span>https://utc.iath.virginia.edu/</span></a></p>
		</td>
		<td><p>
			Stephen
			Railton 
			</p>
		</td>
		<td><p>
			University
			of Virginia 
			</p>
		</td>
		<td><p>
			2009
			(first version in 1998)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Willa Cather Archive</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://cather.unl.edu/"><span>https://cather.unl.edu/</span></a></p>
		</td>
		<td><p>
			Emily
			J. Rau 
			</p>
		</td>
		<td><p>
			University
			of Nebraska-Lincoln</p>
		</td>
		<td><p>
			2017
			(project originated in 1997)</p>
		</td>
	</tr>
	<tr>
		<td><p>
			La
			correspondance d’Isabelle de Charrière</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://charriere.huygens.knaw.nl/"><span>https://charriere.huygens.knaw.nl/</span></a></p>
		</td>
		<td><p>
			Suzan
			van Dijk 
			</p>
		</td>
		<td><p>
			IND-Huygens
			Institute. Amsterdam</p>
		</td>
		<td><p>
			2024</p>
		</td>
	</tr>
	<tr>
		<td><p align="left">
			Emily
			Dickinson’s Correspondences: A Born-Digital Textual Inquiry
			</p>
		</td>
		<td><p align="left">
			<a href="https://rotunda.upress.virginia.edu/edc/"><span>https://rotunda.upress.virginia.edu/edc/</span></a></p>
		</td>
		<td><p>
			Martha
			Nell Smith &amp; Lara Vetter 
			</p>
		</td>
		<td><p>
			University
			of Virginia Press 
			</p>
		</td>
		<td><p>
			2008</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Emily
			Dickinson Archive, an open-access website for the manuscripts of
			Emily Dickinson</p>
		</td>
		<td><p align="left">
			<a href="https://www.edickinson.org/"><span>https://www.edickinson.org/</span></a></p>
		</td>
		<td><p>
			Leslie
			A. Morris 
			</p>
		</td>
		<td><p>
			Harvard
			University 
			</p>
		</td>
		<td><p>
			?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Emily
			Dickinson Collection</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://archivesspace.amherst.edu/repositories/2/resources/167"><span>https://archivesspace.amherst.edu/repositories/2/resources/167</span></a></p>
		</td>
		<td><p>
			Daria
			D'Arienzo</p>
		</td>
		<td><p>
			Amherst
			College Archives&nbsp;</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2005</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Louise
			Dumont an Gustav Lindemann – Eine digitale Briefedition</p>
		</td>
		<td><p align="left">
			<a href="https://emuseum.duesseldorf.de/objects/534014/louise-dumont-an-gustaf-lindemann--eine-digitale-briefediti;jsessionid=6E099FFF08C63DA06B7F0FF00A0555AB"><span>https://emuseum.duesseldorf.de/objects/534014/louise-dumont-an-gustaf-lindemann--eine-digitale-briefediti;jsessionid=6E099FFF08C63DA06B7F0FF00A0555AB</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Gertrude
			Cepl-Kaufmann 
			</p>
		</td>
		<td><p>
			Theatermuseum
			der Landeshauptstadt Düsseldorf und Moderne im Rheinland</p>
		</td>
		<td><p>
			2012/2013</p>
		</td>
	</tr>
	<tr>
		<td><p>
			In
			Transition: Selected Poems by the Baroness Elsa von
			Freytag-Loringhoven. 
			</p>
		</td>
		<td><p align="left">
			<a href="http://digital.lib.umd.edu/transition/"><span>http://digital.lib.umd.edu/transition/</span></a></p>
		</td>
		<td><p>
			Tanya
			Clement 
			</p>
		</td>
		<td><p>
			University
			of Maryland</p>
		</td>
		<td><p>
			2008</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Firstling/Erstling/He Complex by Baroness Elsa von
			Freytag-Loringhoven 
			</p>
		</td>
		<td><p align="left">
			<a href="http://scholarlyediting.org/2012/editions/baroness/main.baroness.html"><span>http://scholarlyediting.org/2012/editions/baroness/main.baroness.html</span></a></p>
		</td>
		<td><p>
			Tanya
			Clement &amp; Gaby Divay 
			</p>
		</td>
		<td><p>
			University
			of Maryland 
			</p>
		</td>
		<td><p>
			2012</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Maria
			Jane Jewsbury: The Oceanides</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://romantic-circles.org/editions/oceanides"><span>https://romantic-circles.org/editions/oceanides</span></a></p>
			<p>(URL
			no longer functioning)</p>
		</td>
		<td><p>
			Judith
			Pascoe 
			</p>
		</td>
		<td><p>
			University
			of Maryland 
			</p>
		</td>
		<td><p>
			2003</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Selma
			Lagerlöf Archive</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://litteraturbanken.se/f%C3%B6rfattare/Lagerl%C3%B6fS"><span>https://litteraturbanken.se/f%C3%B6rfattare/Lagerl%C3%B6fS</span></a></p>
		</td>
		<td><p>
			Louise
			Vinge</p>
		</td>
		<td><p>
			Litteraturbanken
			
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2004</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Dolley Madison Digital Edition</p>
		</td>
		<td><p align="left">
			<a href="https://rotunda.upress.virginia.edu/dmde/"><span>https://rotunda.upress.virginia.edu/dmde/</span></a></p>
		</td>
		<td><p>
			Holly
			C. Shulman 
			</p>
		</td>
		<td><p>
			The
			University of Virginia Press</p>
		</td>
		<td><p>
			2004</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Madeleine
			et Georges de Scudéry: Artamène ou le Grand Cyrus 
			</p>
		</td>
		<td><p align="left">
			<a href="https://artamene.othone.org/index.php?partie=edition"><span>https://artamene.othone.org/index.php?partie=edition</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Christophe
			Schuwey &amp; Claude Bourqui 
			</p>
		</td>
		<td><p>
			Le
			SITEL de l’Université de Neuchâtel</p>
		</td>
		<td><p>
			<br/>

			</p>
			<p>2002</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Book of Margery Kempe</p>
		</td>
		<td><p align="left">
			<a href="https://english.selu.edu/humanitiesonline/kempe/showcase/webapp.php"><span>https://english.selu.edu/humanitiesonline/kempe/showcase/webapp.php</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Joel
			W. Fredell 
			</p>
		</td>
		<td><p>
			Southeastern
			Louisiana University</p>
		</td>
		<td><p>
			2015</p>
		</td>
	</tr>
	<tr>
		<td><p>
			In
			oorlogsnood. Virginie Lovelings dagboek 1914-1918</p>
		</td>
		<td><p align="left">
			<a href="https://edities.kantl.be/loveling/m_1914-07.htm"><span>https://edities.kantl.be/loveling/m_1914-07.htm</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Bert
			Van Raemdonck 
			</p>
		</td>
		<td><p>
			University
			of Ghent</p>
		</td>
		<td><p>
			2005</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Elisabeth
			Montagu Correspondence Online</p>
		</td>
		<td><p align="left">
			<a href="https://emco.swan.ac.uk/home/"><span>https://emco.swan.ac.uk/home/</span></a></p>
		</td>
		<td><p>
			Nicole
			Pohl 
			</p>
		</td>
		<td><p>
			Swansea
			University</p>
		</td>
		<td><p>
			2020</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Papers of Eliza Lucas Pinckney and Harriott Pinckney Horry Digital
			Edition</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="http://rotunda.upress.virginia.edu/PinckneyHorry"><span>http://rotunda.upress.virginia.edu/PinckneyHorry</span></a></p>
		</td>
		<td><p>
			Constance
			B. Schulz 
			</p>
		</td>
		<td><p>
			University
			of Virginia Press 
			</p>
		</td>
		<td><p>
			2012</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Christine
			de Pizan. The making of the Queen’s manuscripts 
			</p>
		</td>
		<td><p align="left">
			<a href="http://www.pizan.lib.ed.ac.uk/"><span>http://www.pizan.lib.ed.ac.uk</span></a></p>
		</td>
		<td><p>
			James
			Laidlaw</p>
		</td>
		<td><p>
			University
			of Edinburgh – The British Library</p>
		</td>
		<td><p>
			Text
			2010, all manuscript images 2005</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Clara
			Katharina Pollaczek “Arthur Schnitzler und ich”. Digitale
			Ausgabe 
			</p>
		</td>
		<td><p align="left">
			<a href="https://pollaczek.acdh.oeaw.ac.at/"><span>https://pollaczek.acdh.oeaw.ac.at/</span></a></p>
		</td>
		<td><p>
			Martin
			Anton Müller &amp; Laura Untner 
			</p>
		</td>
		<td><p>
			Austrian
			Center for Digital Humanities and Cultural Heritage</p>
		</td>
		<td><p>
			2023</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Letters of Christina Rossetti. A digital edition</p>
		</td>
		<td><p align="left">
			<a href="https://rotunda.upress.virginia.edu/crossetti/"><span>https://rotunda.upress.virginia.edu/crossetti/</span></a></p>
		</td>
		<td><p>
			Antony
			H. Harrison 
			</p>
		</td>
		<td><p>
			University
			of Virginia Press</p>
		</td>
		<td><p>
			2006</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Margaret Sanger Papers: Margaret Sanger and The Woman Rebel 
			</p>
		</td>
		<td><p align="left">
			<a href="http://modeleditions.blackmesatech.com/mep/MS/docs/ms-table.html"><span>http://modeleditions.blackmesatech.com/mep/MS/docs/ms-table.html</span></a></p>
		</td>
		<td><p>
			Esther
			Katz, Cathy Maron Hajo &amp; Peter C. Engelman 
			</p>
		</td>
		<td><p>
			New
			York University</p>
		</td>
		<td><p>
			2000</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Speeches and Articles of Margaret Sanger, 1911–1959: A Digital
			Edition 
			</p>
		</td>
		<td><p align="left">
			<a href=" https://sanger.hosting.nyu.edu/documents/electroniced/"><span> https://sanger.hosting.nyu.edu/documents/electroniced/</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Esther
			Katz 
			</p>
		</td>
		<td><p>
			New
			York University</p>
		</td>
		<td><p>
			2015?</p>
		</td>
	</tr>
	<tr>
		<td><p>
			The
			Olive Schreiner Letters Online</p>
			<p><br/>

			</p>
		</td>
		<td><p align="left">
			<a href="https://www.oliveschreiner.org/"><span>https://www.oliveschreiner.org/</span></a></p>
		</td>
		<td><p>
			Liz
			Stanley 
			</p>
		</td>
		<td><p>
			University
			of Edinburgh, University of Shefield &amp; Leeds Beckett
			University</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			2012</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Journal
			of Emily Shore 
			</p>
		</td>
		<td><p align="left">
			<a href="https://rotunda.upress.virginia.edu/EmilyShore/make-page.xqy"><span>https://rotunda.upress.virginia.edu/EmilyShore/make-page.xqy</span></a></p>
		</td>
		<td><p>
			<br/>
Barbara
			Timm Gates</p>
		</td>
		<td><p>
			University
			of Virginia 
			</p>
		</td>
		<td><p>
			2006</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Elizabeth
			Cady Stanton Papers</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			<a href="https://www.loc.gov/collections/elizabeth-cady-stanton-papers/about-this-collection/">
			https://www.loc.gov/collections/elizabeth-cady-stanton-papers/about-this-collection/
			</a>
			</p>
		</td>
		<td><p>
			Ann
			D. Gordon 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			Rutgers
			University</p>
		</td>
		<td><p>
			2000/2012</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Woolf
			Online 
			</p>
		</td>
		<td><p align="left">
			<a href="http://www.woolfonline.com/?node=content"><span>http://www.woolfonline.com/?node=content</span></a><span>
			</span>
			</p>
		</td>
		<td><p>
			Pamela
			L Caughie, Nick Hayward, Mark Hussey, Peter Shillingsburg, George
			K. Thiruvathukal 
			</p>
		</td>
		<td><p>
			Loyola
			University Chicago</p>
		</td>
		<td><p>
			2013</p>
		</td>
	</tr>
	<tr>
		<td><p>
			Frankenstein,
			or the Modern Prometheus, by Mary Wollstonecraft Shelley. The
			Pennsylvania Electronic Edition</p>
		</td>
		<td><p align="left">
			<a href="https://knarf.english.upenn.edu/"><span>https://knarf.english.upenn.edu/</span></a></p>
		</td>
		<td><p>
			Stuart
			Curran 
			</p>
			<p><br/>

			</p>
		</td>
		<td><p>
			University
			of Pennsylvania</p>
		</td>
		<td><p>
			?</p>
		</td>
	</tr>
	</tbody>
</table>
{% endblock content %}