{% extends 'shewrote/base.html' %}


{% block page_header %}
	<h1>Working group publications (selection)</h1>
{% endblock page_header %}


{% block content %}
<p>Listed below are a number of recent publications by Women Writers
    in History project members which are available in Open Access,
    as well as a number of earlier key publications.
</p>

<p><br/><br/></p>

<h4>List of publications</h4>
<table class="table">
	<thead></thead>
		<tr>
			<th>
                <p>Author(s)</p>
			</th>
			<th>
                <p>Titles</p>
			</th>
			<th>
                <p>Publication</p>
			</th>
			<th>
                <p>Place</p>
			</th>
			<th>
                <p>Publisher</p>
			</th>
            <th width="2%">
                <p>Year</p>
            </th>
            <th width="8%">
                <p>Pages</p>
            </th>
		</tr>
	</thead>
    <tbody>
        <tr>
            <td>
                <p>Henriette Partzsch & Viola Parente-Čapková (eds)</p>
            </td>
            <td>
                <p><a href="https://brill.com/display/title/63010"><span>Redrawing Europe's Literary Map: Transnational Circulations of Women’s Writing 1850–1920</span></a></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>Leiden</p>
            </td>
            <td>
                <p>Brill</p>
            </td>
            <td>
                <p>2026</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Katja Mihurko</p>
            </td>
            <td>
                <p><a href="https://books.ung.si/kulturnazgodovinaspola/front-matter/1520/"><span>Kulturna zgodovina spola na Slovenskem v dobi meščanstva</span></a></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>Nova Gorica</p>
            </td>
            <td>
                <p>University of Nova Gorica Press</p>
            </td>
            <td>
                <p>2025</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Lieke van Deinsen</p>
            </td>
            <td>
                <p><a href="https://link.springer.com/chapter/10.1007/978-3-031-46939-8_5"><span>‘Female Faces in the Fraternity. Printed Portraits Galleries and the Construction and Circulation of Images of Learned Women in the Republic of Letters’</span></a></p>
            </td>
            <td>
                <p>Mónica Bolufer, Laura Guinot-Ferri & Carolina Blutrach (eds), Gender and Cultural Mediation in the Long Eighteenth Century</p>
            </td>
            <td>
                <p>Cham</p>
            </td>
            <td>
                <p>Palgrave Macmillan</p>
            </td>
            <td>
                <p>2024</p>
            </td>
            <td>
                <p>123-149</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Alicia C. Montoya</p>
            </td>
            <td>
                <p><a href="https://link.springer.com/chapter/10.1007/978-3-031-46939-8_12"><span>‘Women’s Libraries and ‘Women’s Books’, 1729–1830’</span></a></p>
            </td>
            <td>
                <p>Mónica Bolufer, Laura Guinot-Ferri & Carolina Blutrach (eds), Gender and Cultural Mediation in the Long Eighteenth Century</p>
            </td>
            <td>
                <p>Cham</p>
            </td>
            <td>
                <p>Palgrave Macmillan</p>
            </td>
            <td>
                <p>2024</p>
            </td>
            <td>
                <p>289–314</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Amelia Sanz Cabrerizo & Marina Acién Martín (eds)</p>
            </td>
            <td>
                <p><a href="https://docta.ucm.es/rest/api/core/bitstreams/3abcffae-301d-495c-b531-2ecc9edaafbf/content"><span>‘Madame de Lafayette en la prensa española digitalizada: tres periodos (1868, 1939, 1975)'</span></a></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>Madrid</p>
            </td>
            <td>
                <p>Universidad Complutense</p>
            </td>
            <td>
                <p>2024</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Asko Nivala, Juhana Saarelainen & Jasmine Westerlund</p>
            </td>
            <td>
                <p><a href="https://journal.fi/avain/article/view/138651/98885"><span>'Suomen maantieteellisen alueen rajaaminen suomenkielisessä kaunokirjallisuudessa 1870–1944’</span></a></p>
            </td>
            <td>
                <p>AVAIN - Kirjallisuudentutkimuksen aikakauslehti</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>December 2024</p>
            </td>
            <td>
                <p>14-35</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Birgitta Lindh Estelle, Carmen Beatrice Duțu & Viola Parente-Čapková (eds)</p>
            </td>
            <td>
                <p><a href="https://brill.com/display/title/61677"><span>Women Writing Intimate Spaces: The Long Nineteenth Century at the Fringes of Europe</span></a></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>Leiden</p>
            </td>
            <td>
                <p>Brill</p>
            </td>
            <td>
                <p>2023</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Nicole Pohl</p>
            </td>
            <td>
                <p><a href="https://www.tandfonline.com/doi/full/10.1080/09699082.2023.2266081"><span>‘“The vast ocean of infinity & eternity”: Creating the (In)finite Archive of The Elizabeth Montagu’s Correspondence Online (EMCO)’</span></a></p>
            </td>
            <td>
                <p>Women’s Writing, 30 (4)</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2023</p>
            </td>
            <td>
                <p>439–456</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Marie-Louise Coolahan</p>
            </td>
            <td>
                <p><a href="https://www.cambridge.org/core/journals/irish-historical-studies/article/textual-terrain-developments-and-directions-in-womens-writing-15001700/5D1DFCBB51937FF9AC8ABA86B7E0FDF9"><span>‘The textual terrain: developments and directions in women's writing, 1500–1700’</span></a></p>
            </td>
            <td>
                <p>Irish Historical Studies, 46 (170)</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2022</p>
            </td>
            <td>
                <p>286-300</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Marie Nedregotten Sørbø</p>
            </td>
            <td>
                <p><a href="https://www.mdpi.com/2076-0787/11/4/99"><span>‘The Challenges of Translating Jane Austen’s Irony: Samples from 150 Years of Norwegian Versions of the Novels'</span></a></p>
            </td>
            <td>
                <p>Humanities, 11 (4)</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2022</p>
            </td>
            <td>
                <p>99</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Marie Nedregotten Sørbø</p>
            </td>
            <td>
                <p><a href="https://openjournals.ugent.be/jeps/article/id/71467/"><span>‘Fourfold Female: Birgithe Kühle’s Pioneer Norwegian Journal Provincial-Lecture (1794) and Her European Book Collection'</span></a></p>
            </td>
            <td>
                <p>Journal of European Periodical Studies 6(1)</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2021</p>
            </td>
            <td>
                <p>101-114</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Carme Font Paz & Nina Geerdink (eds.)</p>
            </td>
            <td>
                <p><a href="https://brill.com/display/title/39199"><span>Economic Imperatives for Women's Writing in Early Modern Europe</span></a></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>Leiden</p>
            </td>
            <td>
                <p>Brill</p>
            </td>
            <td>
                <p>2018</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Emmanuelle Radar</p>
            </td>
            <td>
                <p><a href="https://journals.openedition.org/viatica/1071"><span>‘Camille Drevet: Les Annamites chez eux (1928) ou l’écriture de l’urgence‘</span></a></p>
            </td>
            <td>
                <p>Viatica, HS 2</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2018</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Alicia C. Montoya</p>
            </td>
            <td>
                <p><a href="https://hal.univ-lorraine.fr/EDULUM-UL/hal-01885939v1"><span>‘Madame Leprince de Beaumont in the Eighteenth-Century Dutch Republic: Library Catalogues, Readers, and Writers’</span></a></p>
            </td>
            <td>
                <p>Paper presented at ISECS conference, XIVe Congrès international d'étude du dix-huitième siècle</p>
            </td>
            <td>
                <p>Rotterdam</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>July 2015</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Alicia C. Montoya (ed.)</p>
            </td>
            <td>
                <p><a href="https://revue-relief.org/issue/view/304"><span>Madame de Genlis et la pensée des Lumières</span></a></p>
            </td>
            <td>
                <p>Theme number of RELIEF. Revue électronique de littérature française 7.1</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2013</p>
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Anke Gilleir & Alicia C. Montoya</p>
            </td>
            <td>
                <p><a href="https://doi.org/10.1163/ej.9789004184633.i-384.7"><span>‘Introduction: Toward a New Conception of Women’s Literary History’</span></a></p>
            </td>
            <td>
                <p>Anke Gilleir, Alicia C. Montoya & Suzan van Dijk (eds), Women Writing Back / Writing Back Women: Transnational Perspectives from the Late Middle Ages to the Dawn of the Modern Era</p>
            </td>
            <td>
                <p>Leiden</p>
            </td>
            <td>
                <p>Brill</p>
            </td>
            <td>
                <p>2010</p>
            </td>
            <td>
                <p>1-20</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Suzan van Dijk, Anke Gilleir & Alicia C. Montoya</p>
            </td>
            <td>
                <p><span>‘Before NEWW (New approaches to European Women’s Writing). Prolegomena to the Launching of an International Project’,</span></p>
            </td>
            <td>
                <p>Tulsa Studies in Women’s Literature 27(1)</p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p></p>
            </td>
            <td>
                <p>2008</p>
            </td>
            <td>
                <p>151-157</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}